.sidenav-drawer {
  width: 30VW;
  background-color: #800322;
  padding-top: 100px;
}

.sidenav-text {
  padding: 30px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif !important;
  color: #ffff;
}
