<mat-card fxFlex class="one-liner-card">
  <mat-card-content>
    <i (click)="onDelete()" *ngIf="oneLiner.authorUsername === username" class="material-icons" style="color: grey; cursor: pointer">close</i>
    <!-- <span fxLayoutAlign="start start" class="one-liner-quote">"</span> -->
    <p class="one-liner-card-content">
      {{oneLiner.oneLiner}}
    </p>
    <!-- <span fxLayoutAlign="end center" class="one-liner-quote">"</span> -->
    <div class="votes-container" fxLayout="column" fxLayoutAlign="center center" (click)="onLike()">
      <i class="material-icons votes-container-icon" fxLayoutAlign="center center">favorite_border</i>
      {{oneLiner.numUpVotes}}
    </div>
  </mat-card-content>
</mat-card>
