.stories-drawer {
  width: 100VW;
  background-color: #800322;
}
/*
.container {
  padding-top: 100px;
  background-color: #800322;
} */

.no-stories {
  font-weight: 500;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif !important;
  color: #ffff;
}

.weird-message {
  /* padding-top: 35VH; */
}

.sidenav-drawer {
  width: 300px;
  background-color: #800322;
  padding-top: 100px;
}

.sidenav-text {
  padding: 30px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif !important;
  color: #ffff;
}

.container {
  padding-top: 100px;
  background-color: #800322;
  height: 88vh;
  width: 100vw;
}

.container--empty {
  padding-top: 100px;
  background-color: #800322;
  height: 100vh;
  width: 100vw;
}
