html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif !important; }

/* common app css classes */
.heightFull {
	height: 100vh !important;
}

.widthFull {
	width: 100vw !important;
}

.widthFullPer {
	width: 100% !important;
}

.heightFullPer {
	height: 100% !important;
}

.widthHalfPer {
	width: 50% !important;
}

.background-eee {
	background-color: #eee !important;
}

.background-base {
	background-color: #AB0A4A !important;
}

.paddingNone {
	padding: 0 !important;
}

.marginNone {
	margin: 0 !important;
}

/* Buttons */

.action-button {
	border-radius: 33.5px !important;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 600 !important;
	width: 320px !important;
	font-size: 16px !important;
	color: #6b062f !important;
}
@media only screen and (max-width: 330px) {
	.action-button {
		width: 250px !important;
	}
}

.bottom-right-fab {
	position: fixed;
	bottom: 0 !important;
	right: 0 !important;
	padding: 40px !important;
	color: #ff8b0b !important;
}

.profile-image-container-medium {
	background-color: #d7d8da !important;
	background-position: center center !important;
	background-size: cover !important;
	border-radius: 50% !important;
	width: 70px !important;
	height: 70px !important;
}

.profile-image-container {
	background-position: center center !important;
	background-size: cover !important;
	border-radius: 50% !important;
	width: 90px !important;
	height: 90px !important;
}

.profile-image-container-large {
	background-color: #d7d8da !important;
	background-position: center center !important;
	background-size: cover !important;
	border-radius: 50% !important;
	width: 150px !important;
	height: 150px !important;
}

.profile-image-add {
  position: relative;
  top: 110px;
  left: 110px;
  border-radius: 50%;
  background-color: #f09f23;
  width: 30px;
  height: 30px;
  color: white;
}

.profile-image-add-icon {
  font-size: 18px;
  padding-top: 6px;
	color: #800322;
}

.side-content-drawer {
	width: 500px !important;
	height: 100% !important;
	background-color: #eee !important;
	color: grey !important;
}

@media only screen and (max-width: 500px) {
	.side-content-drawer {
		width: 100vw !important;
	}
}

.storiesViewerContainer .mat-dialog-container{
  padding: 0 !important;
}
