<app-toolbar [content]="toolbarContent" (onOpenSideNav)= "sidenav.open()"></app-toolbar>
<p>bookmarks works!</p>

<mat-drawer-container>
  <mat-drawer #sidenav [mode]="Over" class="sidenav-drawer">
    <div>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']"><p class="sidenav-text">FEED</p></a>
        <a mat-list-item [routerLink]="['/my-stories']"><p class="sidenav-text">STORIES</p></a>
        <a mat-list-item [routerLink]="['/profile']"><p class="sidenav-text">PROFILE</p></a>
        <a mat-list-item [routerLink]="['/bookmarks']"><p class="sidenav-text">BOOKMARKS</p></a>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <mat-drawer-content>
  </mat-drawer-content>
</mat-drawer-container>
