<mat-card fxFlex class="stories-card">

  <mat-card-content>

    <div class="stories-card-header" fxLayout="row" fxLayoutAlign="start start">
      <div class="profile-image"></div>
      <div class="stories-card-header-info">
        <p>{{story.authorUsername}}</p>
        <p>{{story.timestamp}}</p>
      </div>
      <div *ngIf="!me">
          <i *ngIf="!following" class="material-icons follow" (click)="onFollow()">person_add</i>
          <i *ngIf="following" class="material-icons follow" (click)="onFollow()">person_add_disabled</i>
      </div>
    </div>
    <div class="bookmark-container" (click)="onBookmark()">
      <i *ngIf="!bookmarked" class="bookmark-container-icon material-icons">bookmark_border</i>
      <i *ngIf="bookmarked" class="bookmark-container-icon material-icons">bookmark</i>
    </div>

    <p class="stories-card-content">
      {{story.content}}
    </p>
    <div class="votes-container" fxLayout="column" fxLayoutAlign="center center" (click)="onLike()">
        <i *ngIf="liked" class="material-icons votes-container-icon" fxLayoutAlign="center center">favorite</i>
        <i *ngIf="!liked" class="material-icons votes-container-icon" fxLayoutAlign="center center">favorite_outline</i>
    {{ story.numUpVotes  + justLiked }}
    </div>

  </mat-card-content>

</mat-card>
