<mat-card fxFlex class="stories-card">
  <mat-card-content>

    <div class="stories-card-header" fxLayout="row" fxLayoutAlign="start start">
      <div class="profile-image"></div>
      <div class="stories-card-header-info">
        <p>{{story.authorUsername}}</p>
        <p>{{story.timestamp}}</p>
      </div>
    </div>

    <p class="stories-card-content">
      {{story.content}}
    </p>
    <div class="votes-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons votes-container-icon" fxLayoutAlign="center center">favorite</i>
    10
    </div>
  </mat-card-content>
</mat-card>
