.stories-card {
  max-width: 850px;
  min-width: 850px;
  width: 300px;
  font-family: 'PT Serif', serif;
  margin: 20px;
  padding: 75px;
}

.stories-card-header {
  width: 40%;
}

.profile-image {
  background-color: #800322;
  width: 70px;
  height: 70px;
  border-radius: 50% 50%;
  margin-right: 35px;
}

.stories-card-content {
  font-size: 18px;
  line-height: 30px;
  /* font-family: 'PT Serif', serif; */
  font-family: 'Noto Serif KR', serif;
  color: black;
  white-space: pre-wrap;
}

.stories-card-header-info {
  font-family: 'Noto Serif KR', serif;
  font-size: 16px;
}

.timestamp {
  margin-top: -10px;
}

.votes-container {
  width: 65px;
  height: 50px;
  background-color: #F09F23;
  position: absolute;
  bottom: 0px;
  right: 0;
  color: #fff;
  border-radius: 50% 0 0 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer
}

.votes-container-icon {
  font-size: 18px
}

.bookmark-container {
  position: absolute;
  top: -10px;
  right: 0;
}

.bookmark-container-icon {
  font-size: 60px;
  color: #800322;
}

.follow {
    font-size: 28px;
    color: #800322;
    cursor: pointer;
}
