<div fxLayout="column" fxLayoutAlign="center center" class="background">
<mat-card fxFlex class="stories-card">
  <mat-card-content>
    <!-- <span fxLayoutAlign="start start" class="one-liner-quote">"</span> -->
    <!-- <span fxLayoutAlign="end center" class="one-liner-quote">"</span> -->
    <p class="stories-card-content">
      There were just two humans on Earth, Amanda and Steve. They built a boat for just the two of them and had no care in the world! One night, Steve was sleeping, about a foot away from Amanda, and he suddenly woke up in a panic, finding a crab on board.

"What the hell is it? " said Steve in a confused, dazed state.
"First of all, I'm not an "it,", I'm the king of the ocean and I've come to help you out a little." said the crab. "With what exactly...?"  said Steve still a little frightened, but interested. "With your future. Don't you wonder what life holds beyond your present life? " said the Crab. "Well yeah, but I can't seem to figure it out. Like do I have a purpose in life or am I just meant to recap everyday to Amanda and repeat this over and over, and over and....." said Steve in a sort of depressed state. "Of course not, dude. What do you love the most about being on this boat? Why haven't you decided to just jump off?" said the Crab with a bigger motive.
"Well, if I were just to jump off, Amanda wouldn't have anyone to talk to and I wouldn't want that for her" said Steve in a soft but concerned voice.
"Hmmm, so are you saying that Amanda is what you love most about being on the boat or....., like get to the point man." said the Crab in a very cocky undertone.
"Yeah I guess, I don't know. What do you mean by love exactly? " said Steve as he nervously hides his face. "Well, that's a tough question, but all love is an emotion that humans show to one another." said the Crab. "Well I think I love Amanda maybe, but like how do I show that?"  said Steve. "Well um you know, there are physical ways you could show it, but I'm not really gonna go into it much further than that." said the crab as he starts sweating. "How you just gonna mention love and not even go into all the details?" said Steve in a frustrating tone. "All I'll say is, it all begins with a kiss, that is when two lips find an obstacle." said the crab.

Steve looked around and the crab was just gone. "Wait... come back!!" said Steve in a desperate scream. He turns back around and starts to look at Amanda and starts to ponder on whether he should kiss her. He's curious on what happens after that. As he kisses her, Amanda wakes up in kind of a panic.

"Um, what you doing..." says Amanda with a slight smile. "Um well, I am trying to show you that I love you, you know like really love you and if loving you is wrong, I don't wanna be right." says Steve as he continues to kiss her. Amanda giggles, proceeding to kiss him.

9 months later....

"Um Steve, I think whatever is in my belly is finally coming out!!!" says Amanda in a panic. "O God girl." says Steve in even more of a panic. A few minutes later, Steve and Amanda hold the baby in their hands and reflect on what had happened as they watch the sunset.

"What you thinking about Steve..." says Amanda as she lays her head on his chest. "Well, I think...We're going to need a bigger boat."
    </p>
    <div class="votes-container" fxLayout="column" fxLayoutAlign="center center">
      <i class="material-icons votes-container-icon" fxLayoutAlign="center center">favorite</i>
    10
    </div>
  </mat-card-content>
</mat-card>
</div>
