<mat-toolbar class="toolbar">

  <div fxLayout="row" fxLayoutAlign="space-between center" class="bar-container">
    <img class="logo-short" src="assets/storyLine-logo-short.png">
    <img class="logo--width" src="assets/storyLine-logo-white.png" fxLayoutAlign="center center">
    <div class="spanner"></div>
  </div>

</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center start" class="container">

  <app-oneliner-card *ngFor="let oneLinerEl of oneLiners" [oneLiner]=oneLinerEl (onUpdateLike)="updateLike($event, oneLinerEl.oneLiner)" (onDeleteOneLiner)="deleteOneLiner(oneLinerEl.oneLiner)"></app-oneliner-card>

  <div class="bottom-right-fab" (click)="onSubmitOneliner()">
    <button mat-fab color="accent">
      <i class="material-icons" fxLayoutAlign="center center" style="color: white">add</i>
    </button>
  </div>

</div>
