.toolbar {
  background-color: #eeee;
  position: fixed;
  z-index: 1000;
}

.stories-drawer {
  width: 100VW;
  background-color: #800322;
}

.container {
  padding-top: 100px;
  background-color: #800322;
}

.bar-container {
  height: 100%;
  width: 100vw;
}

.spanner {
  height: 100px;
  width: 100px;
}

.logo-short {
  width: 100px;
}

.logo--width {
  width: 250px
}

.trailing-oneliner {
  position: fixed;
  top: 40;
  left: 0;
  z-index: 1000;
  width: 150px;
  /* height: 50vh; */
  color: #fff;
  font-family: 'PT Serif', serif;
  font-size: 55px;
  font-weight: 600;
  padding: 50px;
}
