<app-toolbar [content]="toolbarContent" (onOpenSideNav)="sidenav.toggle()"></app-toolbar>

<mat-drawer-container>
  <mat-drawer #sidenav [mode]="Over" class="sidenav-drawer">
    <div>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']">
          <p class="sidenav-text">FEED</p>
        </a>
        <a mat-list-item [routerLink]="['/my-stories']">
          <p class="sidenav-text">STORIES</p>
        </a>
        <a mat-list-item [routerLink]="['/profile']">
          <p class="sidenav-text">PROFILE</p>
        </a>
        <a mat-list-item [routerLink]="['/bookmarks']">
          <p class="sidenav-text">BOOKMARKS</p>
        </a>
        <a mat-list-item [routerLink]="['/friend-feed']">
          <p class="sidenav-text">FRIEND FEED</p>
        </a>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <mat-drawer-content>

    <div fxLayout="row wrap" fxLayoutAlign="center start" class="container">

      <app-oneliner-card *ngFor="let oneLinerEl of oneLiners" (onSelect)="fetchStories(oneLinerEl);" [oneLiner]=oneLinerEl (onUpdateLike)="updateLike($event, oneLinerEl.oneLiner)"
        (onDeleteOneLiner)="deleteOneLiner(oneLinerEl.oneLiner)"></app-oneliner-card>

      <div class="bottom-right-fab" (click)="onSubmitOneliner()">
        <button mat-fab color="accent">
          <i class="material-icons" fxLayoutAlign="center center" style="color: white">add</i>
        </button>
      </div>
    </div>


</mat-drawer-content>

</mat-drawer-container>
