.toolbar {
  background-color: #eeee;
  position: fixed;
  z-index: 1000;
}

.container {
  padding-top: 100px;
  background-color: #800322;
}

.bar-container {
  height: 100%;
  width: 100vw;
}

.spanner {
  height: 100px;
  width: 100px;
}

.logo-short {
  width: 100px;
}

.logo--width {
  width: 250px
}
