<mat-toolbar class="toolbar">

  <div fxLayout="row" fxLayoutAlign="space-between center" class="bar-container">

    <div fxLayout="row" fxLayoutAlign="start center">
      <img class="logo-short" src="assets/storyLine-logo-short.png" (click)="onOpen()">
      <img *ngIf="!content" class="logo--width" src="assets/storyLine-logo-white.png" fxLayoutAlign="center center">
      <p *ngIf="content">{{content}}</p>
    </div>

    <div (click)="onDismiss()" class="close">
      <i *ngIf="content" class="material-icons">close</i>
    </div>
    
  </div>

</mat-toolbar>
